<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ganiner.dao.ProgramFillMapper">
    <!-- 读程序写结果查询 -->
    <select id="ProgramFillAll" resultType="ProgramFill">
        select * from tk_pgfillblank
    </select>
    <select id="ByProgramFillId" parameterType="Long" resultType="ProgramFill">
        select * from tk_pgfillblank where id = #{id}
    </select>
    <delete id="DeleteProgramFill" parameterType="Long" >
        DELETE FROM tk_pgfillblank  WHERE id = #{id}
    </delete>
    <insert id="CreateProgramFill" parameterType="ProgramFill">
        insert into tk_pgfillblank(content,answer,chapter,chaptertwo,analysis,difficulty)
        values (#{content},#{answer},#{chapter},#{chaptertwo},#{analysis},#{difficulty})
    </insert>
    <!-- 更新的方法 -->
    <update id="updateProgramFill" parameterType="ProgramFill">
        update tk_pgfillblank set
            id = #{id},
            content = #{content},
            answer= #{answer},
            analysis = #{analysis},
              chapter = #{chapter},
            chaptertwo= #{chaptertwo},
            difficulty= #{difficulty}
        where id = #{id}
    </update>
</mapper>